<section>
  <header [ngClass]="[themeService.theme(), 'documentation-header']">
    <h1>Language Selector</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod mollitia
      quia accusantium?
    </p>
  </header>

  <!-- Contenido principal -->
  <div class="documentation-content">
    <!-- Sección: Uso -->
    <div class="documentation-section">
      <h2>Uso</h2>
    </div>

    <!-- Sección: Configuración -->
    <div class="documentation-section">
      <h2>Configuración</h2>
    </div>

    <!-- Sección: Ejemplo -->
    <div class="documentation-section">
      <h2>Ejemplo</h2>
    </div>

    <!-- Sección: Accesibilidad -->
    <div class="documentation-section">
      <h2>Accesibilidad</h2>
    </div>
  </div>
</section>
