<div class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleSideMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="#"
      ><img src="/logo.svg" alt="" width="120" height="49.41"
    /></a>
    <ds-theme-switch />
    <label for="language-selector">
      <select id="language-selector" aria-label="Select Language">
        <option value="en">En</option>
        <option value="es">Es</option>
      </select>
    </label>
    <div class="d-flex align-items-center">
      <ds-button *ngIf="!isLoggedIn" class="btn btn-primary" (click)="login()">
        Publish
      </ds-button>
      <div *ngIf="isLoggedIn" class="dropdown">
        <img
          src="avatar.svg"
          class="avatar"
          (click)="toggleUserMenu()"
          alt="User Avatar"
        />
        <ul class="dropdown-menu" [class.show]="isUserMenuOpen">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="overlay"
    [class.show]="isSideMenuOpen"
    (click)="toggleSideMenu()"
  ></div>
  <div class="side-menu" [class.show]="isSideMenuOpen">
    <ul class="list-unstyled">
      <li><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Another Link</a></li>
    </ul>
  </div>
</div>
