<div id="carouselExampleCaptions" class="carousel slide carousel-container">
  <div class="carousel-inner" #carouselInner>
    <div
      *ngFor="let photo of photos; let i = index"
      class="carousel-item"
      #carouselItem
    >
      <img
        [src]="photo"
        class="d-block w-100 img-responsive"
        alt="Slide {{ i + 1 }}"
      />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" #prevButton>
    <span class="visually-hidden">&#10094;</span>
  </button>
  <button class="carousel-control-next" type="button" #nextButton>
    <span class="visually-hidden">&#10095;</span>
  </button>
  <div class="carousel-controls">
    <button (click)="toggleAutoplay()">
      <span [innerHTML]="isPlaying ? '&#10074;&#10074;' : '&#9658;'"></span>
    </button>
  </div>
</div>
