// layout/_helpers.scss

@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Spacing helpers
@each $size, $value in $spacing {
  .mt-#{$size} {
    margin-top: $value;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }
}
