<div class="container mx-auto px-5 my-10">
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p class="font-bold text-lg mb-3">Sign in to EZHub</p>
      <div class="mb-4">
        <label for="usernameOrEmail"> Username or Email </label>
        <input
          formControlName="usernameOrEmail"
          id="usernameOrEmail"
          type="text"
          placeholder="Username or Email"
        />
      </div>

      <div class="mb-6">
        <label for="password"> Password </label>
        <input
          formControlName="password"
          id="password"
          type="password"
          placeholder="******************"
        />
      </div>

      <div class="flex items-center justify-between">
        <button class="btn btn-normal btn-primary" type="submit">
          Sign In
        </button>
      </div>
    </form>
  </div>

  <div class="register">
    <p class="mb-2">Don't you have an account?</p>
    <a href="./sign-up">Create a account</a>
  </div>
</div>
