// utilities/_text.scss

@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

// Mixin para truncar texto
@mixin apply-line-clamp($lines) {
  @if $lines > 0 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    @error "El mixin `apply-line-clamp` requiere un número mayor a 0 para `$lines`.";
  }
}

// Clase global para truncar texto
.line-clamp-1 {
  @include apply-line-clamp(1);
}

.line-clamp-2 {
  @include apply-line-clamp(2);
}

.line-clamp-3 {
  @include apply-line-clamp(3);
}

.line-clamp-4 {
  @include apply-line-clamp(4);
}

.line-clamp-5 {
  @include apply-line-clamp(5);
}

// Text alignment
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-normal {
  font-weight: 400;
}

@each $size-name, $size-value in $font-sizes {
  .fs-#{$size-name} {
    font-size: get-font-size($size-name);
  }
}
