// components/_button.scss

@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

@mixin button {
  display: inline-block;
  padding: get-spacing(sm) get-spacing(md);
  font-size: get-font-size(base);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 9999px; // Botones redondeados
  transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
  cursor: pointer;

  &:hover {
    filter: brightness(85%);
  }

  &.btn-primary {
    background-color: get-color(primary);
    color: get-color(light);
  }

  &.btn-secondary {
    background-color: get-color(secondary);
    color: get-color(light);
  }

  &.btn-success {
    background-color: get-color(success);
    color: get-color(light);
  }

  &.btn-danger {
    background-color: get-color(danger);
    color: get-color(light);
  }

  &.btn-sm {
    padding: get-spacing(xs) get-spacing(sm);
  }

  &.btn-md {
    padding: get-spacing(sm) get-spacing(md);
  }

  &.btn-lg {
    padding: get-spacing(md) get-spacing(lg);
  }
}
