<div style="padding: 1rem">
  <div class="form">
    <h2 mat-dialog-title>Edit {{ data.name }}</h2>
    <div mat-dialog-content>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div>
          <!-- Name -->
          <div class="mb-4">
            <div class="mb-2">
              <label for="name">Name</label>
              <input
                formControlName="name"
                id="name"
                type="text"
                placeholder="Name"
              />
            </div>

            @if (formSubmitted && editForm.get('name')?.errors) {
            <div
              class="w-full bg-red-100 px-2 py-[0.4rem] rounded-md border border-red-500 text-sm text-red-500"
            >
              <p
                customLabel
                [errors]="editForm.get('name')?.errors"
                [fieldName]="'name'"
              ></p>
            </div>
            }
          </div>

          <!-- Details -->
          <div class="mb-4">
            <div class="mb-2">
              <label for="details">Details</label>
              <input
                formControlName="details"
                id="details"
                type="text"
                placeholder="Details"
              />
            </div>

            @if (formSubmitted && editForm.get('details')?.errors) {
            <div
              class="w-full bg-red-100 px-2 py-[0.4rem] rounded-md border border-red-500 text-sm text-red-500"
            >
              <p
                customLabel
                [errors]="editForm.get('details')?.errors"
                [fieldName]="'details'"
              ></p>
            </div>
            }
          </div>

          <div class="mb-2">
            <label for="available_from">Available From</label>
            <div class="relative w-fit">
              <input
                [matDatepicker]="picker"
                formControlName="available_from"
                id="available_from"
                placeholder="MM/DD/YYYY"
              />
              <mat-datepicker-toggle
                class="absolute right-0 top-0"
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>

          <div class="mb-4">
            <label for="precio">Precio</label>
            <input
              formControlName="precio"
              id="precio"
              type="number"
              placeholder="Precio"
            />
          </div>

          <div class="mb-4 flex">
            <label for="is_available">Is Available</label>
            <input
              formControlName="is_available"
              id="is_available"
              type="checkbox"
            />
          </div>
          <div class="mb-4">
            <label for="photos">Photos</label>
            <input type="file" id="photos" (change)="onFileChange($event)" />
            <img [src]="photoUrl" alt="Room Photo" *ngIf="photoUrl" />
          </div>
        </div>
      </form>
    </div>
    <!-- Button -->
    <div mat-dialog-actions class="flex items-center gap-5">
      <button class="btn btn-normal btn-primary" type="submit">Save</button>
      <button class="btn btn-normal btn-secondary" (click)="onNoClick()">
        Cancel
      </button>
    </div>
  </div>
</div>
