@use "sass:color";
@use "../../styles/abstracts/functions" as *;
@use "../../styles/abstracts/mixins" as *;

@mixin apply-hover-darken($color, $amount: 15%) {
  &:hover {
    background-color: color.adjust(get-color($color...), $lightness: -$amount);
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #333;
  background-color: transparent;
  padding: 15px;
  font-size: get-font-size(base);
  line-height: 1;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 9999px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);

  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;

  &:hover {
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.06);
  }

  // Primary Button
  &.btn-primary {
    @include apply-color(border-color, primary, default);
    @include apply-color(background-color, primary, default);
    @include apply-color(color, neutral, "dark-300");
    @include apply-hover-darken((primary, default));
  }

  // Primary with icon
  .icon-param {
    margin-right: get-spacing(xs);
    display: inline-flex;
    width: 24px;
  }

  // Primary Tertiary
  &.btn-tertiary-primary {
    border-color: color.adjust(get-color(primary, default), $lightness: -15);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );

    &:hover {
      @include apply-color(border-color, primary, default);
      @include apply-color(background-color, primary, default);
      @include apply-color(color, neutral, "dark-300");
    }
  }

  // Primary Ghost
  &.btn-ghost-primary {
    box-shadow: none;
    border-color: transparent;
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      @include apply-color(border-color, primary, default);
      @include apply-color(background-color, primary, default);
      @include apply-color(color, neutral, "dark-300");
    }
  }

  // Primary Icon
  &.btn-icon {
    padding: 0.25rem;
    border-radius: 0.5rem;
  }

  // Primary Block
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Secondary Button
  &.btn-secondary {
    @include apply-color(border-color, neutral, gray);
    @include apply-color(background-color, neutral, gray);
    @include apply-color(color, neutral, "dark-300");
    @include apply-hover-darken((neutral, gray));
  }

  // Secondary Tertiary Button
  &.btn-tertiary-secondary {
    border-color: color.adjust(get-color(neutral, gray), $lightness: -15);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );
  }

  // Accent Button
  &.btn-accent {
    @include apply-color(border-color, secondary, default);
    @include apply-color(background-color, secondary, default);
    @include apply-color(color, neutral, "dark-300");
    @include apply-hover-darken((secondary, default));
  }

  // Tertiary Accent Button
  &.btn-tertiary-accent {
    border-color: color.adjust(get-color(secondary, default), $lightness: -15);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );
  }

  // Danger Button
  &.btn-danger {
    @include apply-color(border-color, status, danger);
    @include apply-color(background-color, status, danger);
    @include apply-color(color, neutral, "dark-300");
    @include apply-hover-darken((status, danger));
  }

  // Tertiary Danger Button
  &.btn-tertiary-danger {
    border-color: color.adjust(get-color(status, danger), $lightness: -15);
    @include apply-theme-colors(
      (utility, transparent),
      (neutral, "dark-300"),
      (utility, transparent),
      (utility, white)
    );
  }

  // Button State
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Button Sizes
  &.btn-sm {
    padding: 14px;
    font-size: get-font-size(sm);
  }
  &.btn-md {
    padding: 15px;
    font-size: get-font-size(base);
  }
  &.btn-lg {
    padding: 16px;
    font-size: get-font-size(lg);
  }
}
