<nav aria-label="Page navigation" [ngClass]="themeService.theme()">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button
        class="page-link"
        (click)="changePage(currentPage - 1)"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li
      class="page-item"
      *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="currentPage === i + 1"
    >
      <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button
        class="page-link"
        (click)="changePage(currentPage + 1)"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
