<div class="flex items-start flex-wrap md:flex-nowrap gap-5">
  <div class="w-full md:w-[70%] justify-center">
    <!-- PHOTOS -->
    <div>
      @for (photo of room()?.photos?.split(','); track $index) {
      <img [srcset]="'assets/img/bedrooms/' + photo.trim()" class="w-full h-[30vh] object-cover" [alt]="room()?.name" />
      } @empty {
      <p class="text-center"></p>
      }
    </div>

    <!-- Room features -->
    <div class="mt-5 bg-zinc-50 dark:bg-light border border-zinc-200 p-5 shadow-sm">
      <h2 class="font-bold mb-3">Room features</h2>

      <h3 class="font-bold mb-3 md:hidden">{{ room()?.name }}</h3>
      <p class="mb-4 md:hidden">
        Available from: {{ room()?.available_from | date : "yyyy-MM-dd" }}
      </p>
      <p class="mb-4 md:hidden">
        Room size: {{ room()?.room_size }} m<sup>2</sup>
      </p>
      <p class="mb-4 md:hidden">
        Room price: {{ room()?.precio | number : "1.0-0" }}
      </p>

      <p class="mb-4">{{ room()?.details }}</p>
      <p class="mb-4">Bed Type {{ room()?.bed_type }}</p>
      @if (room()?.utilities_included) {
      <p class="mb-4">Utilities Included</p>
      } @if (room()?.deposit_required) {
      <p class="mb-4">Deposit required</p>
      } @for (service of room()?.services_included?.split(','); track $index)
      {
      <p class="mb-4">{{ service }}</p>
      }

      @if(notificationAmenity.type() === 'error'){
      <app-notification-amenity />
      }@else {
      <p>Amenities</p>
      <ul class="list-disc">
        <li class="ml-5" *ngFor="let amenity of room()?.amenities">
          {{ amenity.name }}
        </li>
      </ul>
      }

    </div>

    <div #map id="map" class="w-full h-[40vh] mt-5"></div>

    <div class="my-5 md:hidden">
      <a class="btn btn-primary btn-normal" [routerLink]="['/rooms/contact', room()?.id]">Contact</a>
    </div>
  </div>

  <!-- ASIDE -->
  <div class="hidden md:w-[30%] md:block p-5 border-slate-300 shadow sticky bottom-0 md:top-[8rem]">
    <h2 class="font-bold mb-3">{{ room()?.name }}</h2>
    <p class="mb-4">
      Available from: {{ room()?.available_from | date : "yyyy-MM-dd" }}
    </p>
    <p class="mb-4">Room size: {{ room()?.room_size }} m<sup>2</sup></p>
    <p class="mb-4">Room price: {{ room()?.precio | number : "1.0-0" }} €</p>
    <p class="mb-4">City: {{ room()?.property?.city }}</p>
    <p class="mb-4">Postal code: {{ room()?.property?.postalCode }}</p>
    <a class="btn btn-primary btn-normal" [routerLink]="['/rooms/contact', room()?.id]">Contact</a>
  </div>
</div>
