@use "sass:map";
@use "sass:color";
@use "../../styles/abstracts/functions" as *;
@use "../../styles/abstracts/variables" as *;

.carousel-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
  margin: auto;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  cursor: grab;
}

.carousel-inner:active {
  cursor: grabbing;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  height: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  // background-color: map.get($colors, "primary");
  transform: translateY(-50%) scale(1.1);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

// .carousel-control-prev-icon {
//   background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M4.5 0L3.5 1 6 3.5 0 3.5 0 4.5 6 4.5 3.5 7 4.5 8 8 4.5z"/%3E%3C/svg%3E');
// }

// .carousel-control-next-icon {
//   background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M3.5 0L4.5 1 2 3.5 8 3.5 8 4.5 2 4.5 4.5 7 3.5 8 0 4.5z"/%3E%3C/svg%3E');
// }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  height: 10%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.carousel-indicators button {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 40px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  opacity: 0.7;
  transition:
    opacity 0.6s ease,
    background-color 0.3s ease;
}

.carousel-indicators button:hover {
  // background-color: map.get($colors, "primary");
}

.carousel-indicators .active {
  opacity: 1;
  // background-color: map.get($colors, "primary");
}

.carousel-controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 15;
  display: flex;
  gap: 10px;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.carousel-controls button {
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-controls button:hover {
  background-color: #ddd;
}

img {
  user-select: none;
}
