<div id="carouselExampleCaptions" class="carousel slide carousel-container">
  <div class="carousel-indicators">
    <button
      *ngFor="let photo of photos; let i = index"
      type="button"
      [class.active]="i === currentIndex"
      aria-current="true"
      [attr.aria-label]="'Slide ' + (i + 1)"
      (click)="goToSlide(i)"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      *ngFor="let photo of photos; let i = index"
      class="carousel-item"
      [class.active]="i === currentIndex"
      #carouselItem
    >
      <img
        [src]="photo"
        class="d-block w-100 img-responsive"
        alt="Slide {{ i + 1 }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Slide {{ i + 1 }} label</h5>
        <p>Some representative placeholder content for slide {{ i + 1 }}.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" #prevButton>
    <span class="visually-hidden">&#10094;</span>
  </button>
  <button class="carousel-control-next" type="button" #nextButton>
    <span class="visually-hidden">&#10095;</span>
  </button>
  <div class="carousel-controls">
    <button #toggleAutoplayButton (click)="toggleAutoplay()">
      <span [innerHTML]="isPlaying ? '&#10074;&#10074;' : '&#9658;'"></span>
    </button>
  </div>
</div>
