@use "sass:map";
@use "sass:color";
@use "../../styles/abstracts/functions" as *;
@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid get-color("gray-light");
  border-radius: 0.25rem;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 100%;

  &.dark-mode {
    background-color: get-color("dark-200");
    color: get-color("light");
    border-color: get-color("dark-300");

    .card-title,
    .card-text {
      color: get-color("light");
    }
  }

  &.light-mode {
    background-color: get-color("white");
    color: get-color("dark");
    border-color: get-color("gray-light");

    .card-title,
    .card-text {
      color: get-color("dark");
    }
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
      0 0 0 1px get-color("primary"),
      0 0 0.5rem 0.25rem rgba(map.get($colors, "primary"), 0.5);
    border-color: get-color("primary");
  }

  .card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-body {
    padding: get-spacing(md);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-title {
    font-size: get-font-size(lg);
    margin-bottom: get-spacing(sm);
  }

  .card-text {
    font-size: get-font-size(base);
    margin-bottom: get-spacing(md);
    flex-grow: 1;
  }

  .card-price {
    font-size: get-font-size(lg);
    font-weight: bold;
    margin-bottom: get-spacing(md);
  }
}
