<div class="card new-card">
  <div class="card-image">
    <img
      src="https://ezhub.vercel.app/assets/img/bedrooms/1.jpg"
      alt="Sample Room"
      class="card-img"
    />
  </div>
  <div class="card-content">
    <h2 class="card-title">Sample Room</h2>
    <p class="card-description">
      This is a sample description for the room. It should be truncated if it's
      too long...
    </p>
    <p class="card-price">100 <span class="currency">€</span></p>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary btn-sm rounded" [routerLink]="">See more</a>
  </div>
</div>
