// utilities/_spacing.scss

@use "sass:map";
@use "../abstracts/functions" as *;

.mt-sm {
  margin-top: get-spacing(sm);
}

.mt-md {
  margin-top: get-spacing(md);
}

.mt-lg {
  margin-top: get-spacing(lg);
}

.mb-sm {
  margin-bottom: get-spacing(sm);
}

.mb-md {
  margin-bottom: get-spacing(md);
}

.mb-lg {
  margin-bottom: get-spacing(lg);
}

.mr-sm {
  margin-right: get-spacing(sm);
}

.mr-md {
  margin-right: get-spacing(md);
}

.mr-lg {
  margin-right: get-spacing(lg);
}

.ml-sm {
  margin-left: get-spacing(sm);
}

.ml-md {
  margin-left: get-spacing(md);
}

.ml-lg {
  margin-left: get-spacing(lg);
}

.mx-sm {
  margin-left: get-spacing(sm);
  margin-right: get-spacing(sm);
}

.mx-md {
  margin-left: get-spacing(md);
  margin-right: get-spacing(md);
}

.mx-lg {
  margin-left: get-spacing(lg);
  margin-right: get-spacing(lg);
}

.my-sm {
  margin-top: get-spacing(sm);
  margin-bottom: get-spacing(sm);
}

.my-md {
  margin-top: get-spacing(md);
  margin-bottom: get-spacing(md);
}

.my-lg {
  margin-top: get-spacing(lg);
  margin-bottom: get-spacing(lg);
}
