// utilities/_visibility.scss

@use "sass:map";
.hidden {
  display: none;
}

.visible {
  display: block;
}

.invisible {
  visibility: hidden;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}
