<h1 color="primary">Hola</h1>
<button
  mat-raised-button
  color="primary"
  class="button shadow-sm shadow-bright-red/30 hidden py-3 lg:block"
  (click)="toggleTheme()"
>
  Toggle Theme
</button>
<form class="example-form rounded-full" style="overflow: hidden">
  <mat-form-field class="example-full-width rounded-search">
    <mat-label>Number</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<br />
<form class="example-form">
  <input
    class="rounded-full"
    type="text"
    placeholder="Pick one"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
    style="overflow: hidden; border: 2px solid black"
  />
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of options; track option) {
    <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</form>

<!-- <form class="example-form">
  <input type="text"
         placeholder="Search for a street"
         [formControl]="control"
         [matAutocomplete]="auto"
         class="example-input">
  <mat-autocomplete #auto="matAutocomplete">
    @for (street of filteredStreets | async; track street) {
      <mat-option [value]="street">{{street}}</mat-option>
    }
  </mat-autocomplete>
</form> -->
