<!-- <button
  mat-raised-button
  color="primary"
  class="button shadow-sm shadow-bright-red/30 hidden py-3 lg:block text-light"
  (click)="toggleTheme()"
>
  Toggle Theme
</button> -->

<form class="example-form w-full">
  <input
    class="border-primary rounded-full w-full px-4 py-2 border focus:outline-none focus:ring-2 focus:ring-primary-200"
    type="text"
    placeholder="Pick one"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
    style="
      display: flex;
      align-items: center;
      background-color: #fff;

      transition: width 0.3s;
    "
  />
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</form>

<!-- <form class="example-form">
  <input type="text"
         placeholder="Search for a street"
         [formControl]="control"
         [matAutocomplete]="auto"
         class="example-input">
  <mat-autocomplete #auto="matAutocomplete">
    @for (street of filteredStreets | async; track street) {
      <mat-option [value]="street">{{street}}</mat-option>
    }
  </mat-autocomplete>
</form> -->
