.example-form {

  width: 100%;
}

.example-full-width {
  width: 100%;
}


.button {
  @apply block w-max py-4 px-12 rounded-full;
}


body {
  margin: 0;
  @apply font-primary text-light font-normal text-base;
}