@if (!isUserLocationReady) {
  <app-location-permission class="loading-rooms"/>
}@else{
  <div class="container mx-auto px-5 my-10 h-min-[100%] flex flex-col">
    <search-bar />

    <ul>
      <li>
        <a routerLink="/list" routerLinkActive="active">
          <img tabindex="-1" src="assets/icons/ListBullet.svg" alt="List" />
          List</a>
      </li>
      <li>
        <a routerLink="/map" routerLinkActive="active">
          <img tabindex="-1" src="assets/icons/MapPin.svg" alt="Map" />
          Map</a>
      </li>
    </ul>

    @defer () {
      <router-outlet />
    } @loading (minimum 2s) {
      <app-loading class="block h-full min-h-full" />
    } @error {
      Error...
    }

  </div>
}

