// themes/_light.scss

@use "sass:map";
@use "../abstracts/functions" as *;

body.light-mode {
  background-color: get-color(light);
  color: get-color(dark);
}

body.dark-mode {
  background-color: get-color(dark);
  color: get-color(light);
}
