<div class="container mx-auto px-5 my-10 flex flex-col flex-1 max-w-[67.5rem]">
  <div class="w-full mx-auto justify-center max-w-[45rem]">
    <button class="btn btn-small btn-outline-primary" (click)="onNoClick()">
      Back
    </button>

    <h1 class="text-center text-4xl font-semibold mb-5">Add New Room</h1>

    <div class="form">
      <div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div>
            <div class="mb-4">
              <div class="mb-2">
                <label for="name">Name</label>
                <input
                  id="name"
                  type="text"
                  placeholder="Name"
                  class="w-full mt-2"
                  formControlName="name"
                />
              </div>
              @if (formSubmitted && addForm.get('name')?.errors) {
              <div
                class="w-fit bg-red-100 px-2 py-[0.4rem] rounded-md border border-red-500 text-sm text-red-500"
              >
                <p
                  roomLabel
                  [errors]="addForm.get('name')?.errors"
                  [fieldName]="'name'"
                ></p>
              </div>
              }
            </div>

            <div class="mb-4">
              <div class="mb-2">
                <label for="details">Details</label>
                <textarea
                  id="details"
                  type="text"
                  placeholder="Details"
                  rows="10"
                  class="w-full mt-2"
                  formControlName="details"
                ></textarea>
              </div>
              @if (formSubmitted && addForm.get('details')?.errors) {
              <div
                class="w-fit bg-red-100 px-2 py-[0.4rem] rounded-md border border-red-500 text-sm text-red-500"
              >
                <p
                  roomLabel
                  [errors]="addForm.get('details')?.errors"
                  [fieldName]="'details'"
                ></p>
              </div>
              }
            </div>

            <div class="mb-4">
              <div class="mb-2">
                <label for="propertyId">Property</label>
                <select
                  id="propertyId"
                  class="mt-2"
                  formControlName="propertyId"
                >
                  <option value="" disabled selected>Select a property</option>
                  <option
                    *ngFor="let property of properties"
                    [value]="property.id"
                  >
                    {{ property.name }}
                  </option>
                </select>
              </div>
              @if (formSubmitted && addForm.get('propertyId')?.errors) {
              <div
                class="w-fit bg-red-100 px-2 py-[0.4rem] rounded-md border border-red-500 text-sm text-red-500"
              >
                <p
                  roomLabel
                  [errors]="addForm.get('propertyId')?.errors"
                  [fieldName]="'propertyId'"
                ></p>
              </div>
              }
            </div>

            <div class="mb-4">
              <div class="mb-2">
                <label for="precio">Precio</label>
                <input
                  id="precio"
                  type="number"
                  placeholder="Precio"
                  min="10"
                  class="mt-2"
                  formControlName="precio"
                />
              </div>
              @if (formSubmitted && addForm.get('precio')?.errors) {
              <div
                class="w-fit bg-red-100 px-2 py-[0.4rem] rounded-md border border-red-500 text-sm text-red-500"
              >
                <p
                  roomLabel
                  [errors]="addForm.get('precio')?.errors"
                  [fieldName]="'precio'"
                ></p>
              </div>
              }
            </div>

            <div class="mb-4 flex">
              <label class="mb-0 mr-1" for="is_available">Is Available</label>
              <input
                id="is_available"
                type="checkbox"
                value="IsAvailable"
                formControlName="is_available"
              />
            </div>
          </div>
          <div class="flex items-center gap-5">
            <button class="btn btn-normal btn-primary" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
