<section class="themes">
  <!-- Encabezado de la sección -->
  <header [ngClass]="[themeService.theme(), 'documentation-header']">
    <h1>Temas</h1>
    <p>
      En esta sección, se exploran los temas disponibles en el sistema de
      diseño. Los temas permiten cambiar la apariencia de la aplicación de
      manera consistente y fácil.
    </p>
  </header>

  <!-- Contenido principal -->
  <div class="documentation-content">
    <!-- Tema Oscuro -->
    <div class="documentation-section">
      <h2>Tema Oscuro</h2>
      <p>
        El tema oscuro aplica un esquema de colores oscuros a la interfaz,
        proporcionando una apariencia elegante y moderna.
      </p>
      <pre class="mb-md"><code class="language-scss">
      body.dark-mode &#123;
        background-color: get-background-color(inverted);
        &#64;include apply-color(color, utility, white);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        small,
        strong,
        em,
        blockquote,
        code,
        pre,
        a &#123;
          &#64;include apply-color(color, utility, white);
        &#125;
      &#125;
      </code></pre>
      <p>
        Estos estilos se aplican cuando el tema oscuro está activado, asegurando
        que todos los elementos de texto y fondo utilicen colores adecuados para
        una mejor legibilidad en entornos oscuros.
      </p>
    </div>

    <div class="documentation-section">
      <h2>Tema Claro</h2>
      <p>
        El tema claro aplica un esquema de colores claros a la interfaz,
        proporcionando una apariencia limpia y brillante.
      </p>
      <pre class="mb-md"><code class="language-scss">
      body.light-mode &#123;
        background-color: get-background-color(default);
        &#64;include apply-color(color, neutral, "gray-dark");

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 &#123;
          &#64;include apply-color(color, neutral, "dark-200");
        &#125;

        p,
        small,
        strong,
        em,
        blockquote,
        code,
        pre,
        a &#123;
          &#64;include apply-color(color, neutral, "gray-dark");
        &#125;
      &#125;

      // Ejemplo de estilos adicionales para el modo claro
      .card &#123;
        background-color: get-background-color(default);
        border-color: get-color(primary, "light");
        &#64;include apply-color(color, neutral, dark);
      &#125;
      </code></pre>
      <p>
        Estos estilos se aplican cuando el tema claro está activado, asegurando
        que todos los elementos de texto y fondo utilicen colores adecuados para
        una mejor legibilidad en entornos claros.
      </p>
    </div>
  </div>
</section>
