.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  .theme-switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .theme-switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: get-color(gray-light);
    transition: background-color 0.3s ease;
    border-radius: 34px;

    .theme-switch-inner {
      position: absolute;
      left: 4px;
      top: 4px;
      bottom: 4px;
      right: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
      background-color: get-color(light);
      transition: background-color 0.3s ease;
      border-radius: 34px;

      .icon {
        width: 16px;
        height: 16px;
        fill: get-color(dark);
      }

      .icon-sun {
        display: none;
      }

      .icon-moon {
        display: block;
      }
    }

    .theme-switch-switch {
      position: absolute;
      bottom: 4px;
      left: 4px;
      width: 26px;
      height: 26px;
      background-color: get-color(dark);
      transition: transform 0.3s ease;
      border-radius: 50%;
    }
  }

  .theme-switch-checkbox:checked + .theme-switch-label {
    background-color: get-color(primary);

    .theme-switch-inner {
      background-color: get-color(dark);

      .icon-sun {
        display: block;
      }

      .icon-moon {
        display: none;
      }
    }

    .theme-switch-switch {
      transform: translateX(26px);
      background-color: get-color(light);
    }
  }
}
