<div class="container">
  <h1>Design System</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">Columna 1</div>
    <div class="col-12 col-md-6 col-lg-4">Columna 2</div>
    <div class="col-12 col-md-6 col-lg-4">Columna 3</div>
    <div class="col-12 col-md-6 col-lg-4">Columna 4</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 col-lg-2">Columna 1</div>
    <div class="col-12 col-md-3 col-lg-2">Columna 1</div>
    <div class="col-12 col-md-3 col-lg-2">Columna 1</div>
    <div class="col-12 col-md-3 col-lg-2">Columna 1</div>
    <div class="col-12 col-md-3 col-lg-2">Columna 1</div>
    <div class="col-12 col-md-3 col-lg-2">Columna 1</div>
  </div>

  <section aria-labelledby="buttons-examples-heading">
    <h2 id="buttons-examples-heading">Buttons Examples</h2>

    <!-- Primary Buttons -->
    <div>
      <h3>Primary Buttons</h3>
      <ds-button btnClass="btn-primary">Primary</ds-button>
      <ds-button btnClass="btn-primary" size="btn-sm">Primary Small</ds-button>
      <ds-button btnClass="btn-primary" size="btn-lg">Primary Large</ds-button>
      <ds-button btnClass="btn-primary" [block]="true">Primary Block</ds-button>
      <ds-button btnClass="btn-primary" [outline]="true"
        >Primary Outline</ds-button
      >
      <ds-button btnClass="btn-primary" [disabled]="true"
        >Primary Disabled</ds-button
      >
    </div>

    <!-- Secondary Buttons -->
    <div>
      <h3>Secondary Buttons</h3>
      <ds-button btnClass="btn-secondary">Secondary</ds-button>
      <ds-button btnClass="btn-secondary" size="btn-sm"
        >Secondary Small</ds-button
      >
      <ds-button btnClass="btn-secondary" size="btn-lg"
        >Secondary Large</ds-button
      >
      <ds-button btnClass="btn-secondary" [block]="true"
        >Secondary Block</ds-button
      >
      <ds-button btnClass="btn-secondary" [outline]="true"
        >Secondary Outline</ds-button
      >
      <ds-button btnClass="btn-secondary" [disabled]="true"
        >Secondary Disabled</ds-button
      >
    </div>

    <!-- Success Buttons -->
    <div>
      <h3>Success Buttons</h3>
      <ds-button btnClass="btn-success">Success</ds-button>
      <ds-button btnClass="btn-success" size="btn-sm">Success Small</ds-button>
      <ds-button btnClass="btn-success" size="btn-lg">Success Large</ds-button>
      <ds-button btnClass="btn-success" [block]="true">Success Block</ds-button>
      <ds-button btnClass="btn-success" [outline]="true"
        >Success Outline</ds-button
      >
      <ds-button btnClass="btn-success" [disabled]="true"
        >Success Disabled</ds-button
      >
    </div>

    <!-- Danger Buttons -->
    <div>
      <h3>Danger Buttons</h3>
      <ds-button btnClass="btn-danger">Danger</ds-button>
      <ds-button btnClass="btn-danger" size="btn-sm">Danger Small</ds-button>
      <ds-button btnClass="btn-danger" size="btn-lg">Danger Large</ds-button>
      <ds-button btnClass="btn-danger" [block]="true">Danger Block</ds-button>
      <ds-button btnClass="btn-danger" [outline]="true"
        >Danger Outline</ds-button
      >
      <ds-button btnClass="btn-danger" [disabled]="true"
        >Danger Disabled</ds-button
      >
    </div>

    <!-- Warning Buttons -->
    <div>
      <h3>Warning Buttons</h3>
      <ds-button btnClass="btn-warning">Warning</ds-button>
      <ds-button btnClass="btn-warning" size="btn-sm">Warning Small</ds-button>
      <ds-button btnClass="btn-warning" size="btn-lg">Warning Large</ds-button>
      <ds-button btnClass="btn-warning" [block]="true">Warning Block</ds-button>
      <ds-button btnClass="btn-warning" [outline]="true"
        >Warning Outline</ds-button
      >
      <ds-button btnClass="btn-warning" [disabled]="true"
        >Warning Disabled</ds-button
      >
    </div>

    <!-- Info Buttons -->
    <div>
      <h3>Info Buttons</h3>
      <ds-button btnClass="btn-info">Info</ds-button>
      <ds-button btnClass="btn-info" size="btn-sm">Info Small</ds-button>
      <ds-button btnClass="btn-info" size="btn-lg">Info Large</ds-button>
      <ds-button btnClass="btn-info" [block]="true">Info Block</ds-button>
      <ds-button btnClass="btn-info" [outline]="true">Info Outline</ds-button>
      <ds-button btnClass="btn-info" [disabled]="true">Info Disabled</ds-button>
    </div>

    <!-- Light Buttons -->
    <div>
      <h3>Light Buttons</h3>
      <ds-button btnClass="btn-light">Light</ds-button>
      <ds-button btnClass="btn-light" size="btn-sm">Light Small</ds-button>
      <ds-button btnClass="btn-light" size="btn-lg">Light Large</ds-button>
      <ds-button btnClass="btn-light" [block]="true">Light Block</ds-button>
      <ds-button btnClass="btn-light" [outline]="true">Light Outline</ds-button>
      <ds-button btnClass="btn-light" [disabled]="true"
        >Light Disabled</ds-button
      >
    </div>

    <!-- Dark Buttons -->
    <div>
      <h3>Dark Buttons</h3>
      <ds-button btnClass="btn-dark">Dark</ds-button>
      <ds-button btnClass="btn-dark" size="btn-sm">Dark Small</ds-button>
      <ds-button btnClass="btn-dark" size="btn-lg">Dark Large</ds-button>
      <ds-button btnClass="btn-dark" [block]="true">Dark Block</ds-button>
      <ds-button btnClass="btn-dark" [outline]="true">Dark Outline</ds-button>
      <ds-button btnClass="btn-dark" [disabled]="true">Dark Disabled</ds-button>
    </div>
  </section>
</div>
