@use "./styles/abstracts/mixins" as *;
@use "./shared/design-system-header/design-system-header.component" as header;

design-system {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-layout {
    width: 100%;
    margin: header.$header-height auto 0;
    aside {
      display: none;
    }

    main {
      .container {
        padding: 0;
        .documentation-header {
          padding: 1.875rem 2.5rem;
          @include apply-theme-colors(
            (tertiary, default),
            (neutral, "dark-200"),
            (neutral, "dark-200"),
            (utility, white)
          );
        }

        ul,
        ol {
          margin-left: 1.25rem;
        }

        .documentation-nav {
          padding: 3.75rem 2.5rem 0rem 2.5rem;
          ul {
            a {
              font-weight: 500;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              &.active-link {
                font-weight: bold;
                text-decoration: underline;
              }
            }
          }
        }

        .documentation-content {
          padding: 0 2.5rem 3.125rem 2.5rem;
          .documentation-section {
            padding-top: 3.125rem;
            .documentation-item:not(:last-child) {
              margin-bottom: 2.5rem;
            }
          }
        }
      }
    }
  }

  @include apply-media-breakpoint(lg) {
    .main-layout {
      display: grid;
      grid-template-columns: 20% 80%;
      max-width: 1500px;
      aside {
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        top: header.$header-height;
        height: calc(100vh - header.$header-height);
        overflow-y: auto;
      }
    }
  }
}
