// layout/_helpers.scss

@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

// Clearfix
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

// Flexbox Utilities
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

// Display Utilities
.d-none {
  display: none;
}

.d-block {
  display: block;
}
