<div
  class="carousel"
  (mousedown)="startDrag($event)"
  (mouseup)="endDrag()"
  (mouseleave)="endDrag()"
  (mousemove)="drag($event)"
  (mouseenter)="stopAutoplay()"
  (mouseleave)="startAutoplay()"
>
  <button
    class="carousel-control prev"
    (click)="translateRight()"
    [disabled]="isPrevDisabled"
  >
    &#10094;
  </button>
  <div class="carousel-track" #track>
    <div
      class="carousel-item"
      *ngFor="let photo of currentPhotos; let i = index"
      [class.active]="i === currentIndex"
      [class.carousel-item-next]="
        i === (currentIndex + 1) % currentPhotos.length
      "
      [class.carousel-item-prev]="
        i === (currentIndex - 1 + currentPhotos.length) % currentPhotos.length
      "
      (mouseenter)="setHoveredImageIndex(i)"
      (mouseleave)="clearHoveredImageIndex()"
    >
      <img [src]="photo" [alt]="'Imagen ' + (i + 1)" class="carousel-image" />
    </div>
  </div>
  <button
    class="carousel-control next"
    (click)="translateLeft()"
    [disabled]="isNextDisabled"
  >
    &#10095;
  </button>
  <button class="carousel-control pause" (click)="togglePause()">
    {{ isPaused ? "Play" : "Pause" }}
  </button>
  <div class="carousel-dots">
    <button
      *ngFor="let photo of photos; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="goToImage(i)"
    ></button>
  </div>
</div>
