<div class="container mx-auto px-5 my-10">
  <ul class="my-5">
    <li class="text-center">
      <a
        class="inline-block w-[160px] py-4 hover:bg-primary/20 font-semibold"
        routerLink="./properties"
        routerLinkActive="active"
        >Properties</a
      >
      <a
        class="inline-block w-[160px] py-4 hover:bg-primary/20 font-semibold"
        routerLink="./rooms"
        routerLinkActive="active"
        >Rooms</a
      >
    </li>
  </ul>

  <router-outlet />
</div>
