// themes/_dark.scss

@use "sass:map";
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

body.dark-mode {
  background-color: get-background("inverted");
  color: get-color("white");

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  strong,
  em,
  blockquote,
  code,
  pre,
  a {
    color: get-color("white");
  }
}
