<div
  class="container mx-auto px-5 flex flex-wrap items-center justify-between gap-5 relative"
>
  <!-- Hamburger -->
  <div class="flex items-center gap-5 sm:w-[11.25rem]">
    <button
      id="toggleButton"
      (click)="toggleMenu()"
      aria-expanded="false"
      aria-controls="menu"
      class="peer cursor-pointer transition-all z-50 rounded p-1 hover:bg-primary focus:ring-2 focus:ring-slate-200"
    >
      <span class="sr-only">Menu</span>
      <img
        [src]="menuOpen ? 'assets/icon-close.svg' : 'assets/icon-hamburger.svg'"
        alt="Menu"
        class="w-8 h-8"
      />
    </button>
  </div>

  <!-- Logo -->
  <div class="flex-1 text-center sm:w-full">
    <div class="max-w-[120px] m-auto mr-0 sm:mx-auto">
      <a routerLink="./"
        ><img src="assets/logo.svg" alt="Logo" class="w-full"
      /></a>
    </div>
  </div>

  <!-- Button -->
  <div class="flex items-center gap-5 w-full sm:w-min">
    <button class="btn btn-normal btn-primary mx-auto" routerLink="./publish">
      Publish
    </button>
  </div>

  <div
    id="menu"
    class="menu fixed inset-0 bg-gradient-to-b from-white/70 to-black/70 transition-transform z-40 overflow-auto max-h-screen"
    [style.transform]="menuOpen ? 'translateX(0)' : 'translateX(-100%)'"
    (keydown)="onKeydown($event)"
  >
    <ul
      class="absolute inset-x-0 top-24 p-5 w-[76%] mx-auto rounded-md h-max text-center grid font-semibold text-dark-blue shadow-2xl bg-white dark:bg-dark-200"
    >
      <!-- Home -->
      <li class="border-t-[1.5px] border-b-[1.5px] border-primary">
        <a
          #menuItems
          routerLink="./"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [attr.tabindex]="menuOpen ? '0' : '-1'"
          (click)="closeMenu()"
        >
          Home
        </a>
      </li>

      <!-- Publish -->
      <li>
        <a
          #menuItems
          routerLink="./publish"
          routerLinkActive="active"
          [attr.tabindex]="menuOpen ? '0' : '-1'"
          (click)="closeMenu()"
        >
          Publish
        </a>
      </li>

      <!-- Log In -->
      <li>
        <a
          #menuItems
          class="border-t-[1.5px] border-b-[1.5px] border-primary"
          routerLink="./log-in"
          routerLinkActive="active"
          [attr.tabindex]="menuOpen ? '0' : '-1'"
          (click)="closeMenu()"
        >
          Log In
        </a>
      </li>

      <!-- Sign Up -->
      <li>
        <a
          #menuItems
          class="border-b-[1.5px] border-primary"
          routerLink="./sign-up"
          routerLinkActive="active"
          [attr.tabindex]="menuOpen ? '0' : '-1'"
          (click)="closeMenu()"
        >
          Sign Up
        </a>
      </li>

      <!-- Help and Contact -->
      <li>
        <button
          #menuItems
          class="dropdown-toggle"
          [attr.tabindex]="menuOpen ? '0' : '-1'"
          (click)="toggleHelpContact()"
          aria-haspopup="true"
        >
          Help and Contact
        </button>
        <ul *ngIf="helpContact">
          <li>
            <a
              #menuItems
              class="border-t-[1.5px] border-primary"
              routerLink="./help-contact/help"
              routerLinkActive="active"
              (click)="closeMenu()"
            >
              Help
            </a>
          </li>
          <li>
            <a
              #menuItems
              routerLink="./help-contact/contact"
              routerLinkActive="active"
              (click)="closeMenu()"
            >
              Contact
            </a>
          </li>
        </ul>
      </li>

      <!-- Accessibility -->
      <li>
        <button
          #menuItems
          class="border-t-[1.5px] border-b-[1.5px] border-primary dropdown-toggle"
          [attr.tabindex]="menuOpen ? '0' : '-1'"
          (click)="toggleAccessibility()"
          aria-haspopup="true"
        >
          Accessibility
        </button>
        <ul *ngIf="accessibility">
          <li>
            <button
              #menuItems
              class="mb-[1.3rem] mt-[1.3rem]"
              aria-label="Change theme mode"
              (click)="toggleDarkMode()"
            >
              {{ darkMode ? "Light Mode ☀️" : "Dark Mode 🌙" }}
            </button>
          </li>
          <li class="border-b-[1.5px] border-primary">
            <p>Adjust Font Size</p>
            <div class="flex justify-center items-center gap-3 mb-[1.3rem]">
              <button
                class="btn btn-outline-light btn-increase-font px-[1rem] py-[0.5rem] bg-white dark:text-dark-200"
                aria-label="Increase font size"
                (click)="increaseFontSize()"
              >
                A+
              </button>
              <button
                class="btn btn-outline-light btn-decrease-font ms-3 px-[1rem] py-[0.5rem] bg-white dark:text-dark-200"
                aria-label="Decrease font size"
                (click)="decreaseFontSize()"
              >
                A-
              </button>
            </div>
          </li>
        </ul>
      </li>

      <!-- EZHub -->
      <li>
        <button
          #menuItems
          class="border-b-[1.5px] border-primary dropdown-toggle"
          [attr.tabindex]="menuOpen ? '0' : '-1'"
          (click)="toggleEZHub()"
          aria-haspopup="true"
        >
          EZHub
        </button>
        <ul *ngIf="ezhub">
          <li>
            <a
              #menuItems
              routerLink="./about"
              routerLinkActive="active"
              (click)="closeMenu()"
            >
              About EZHub
            </a>
          </li>
          <li>
            <a
              #menuItems
              routerLink="./legal-notice"
              routerLinkActive="active"
              (click)="closeMenu()"
            >
              Legal Notice
            </a>
          </li>
          <li>
            <a
              #menuItems
              routerLink="./terms-conditions"
              routerLinkActive="active"
              (click)="closeMenu()"
            >
              Terms and Conditions
            </a>
          </li>
          <li>
            <a
              #menuItems
              class="border-b-[1.5px] border-primary"
              routerLink="./contact"
              routerLinkActive="active"
              (click)="closeMenu()"
            >
              Contact Us
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
