<div class="pt-4 pb-6">
  <a
    class="btn btn-primary btn-normal"
    (click)="onAddRoom()"
    routerLink="./add"
  >
    <img
      tabindex="-1"
      class="mr-1"
      src="assets/icons/add.svg"
      width="20px"
      alt="Add Rooms"
    />
    Add Rooms
  </a>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10">
  @for (property of propertyService.propertiesJWT(); track property.id) {
  <div class="flex flex-col">
    <div
      class="flex flex-col bg-white dark:bg-light dark:text-white rounded-lg shadow-md overflow-hidden h-full transition-all hover:shadow-primary-hover"
    >
      <div class="p-4 flex-grow">
        <h2 class="font-bold">{{ property.name }}</h2>
        <p class="mt-2">{{ property.details }}</p>
      </div>

      <div class="p-4 flex justify-between">
        <a
          class="btn btn-secondary btn-small"
          [routerLink]="['./', property.id]"
        >
          <img
            tabindex="-1"
            class="mr-[2px]"
            src="assets/icons/view.svg"
            width="20px"
            alt="View"
          />
          View
        </a>
        <a
          class="btn btn-secondary btn-small"
          (click)="onEditRoom(property)"
          [routerLink]="['./edit/', property.id]"
        >
          <img
            tabindex="-1"
            class="mr-[2px]"
            src="assets/icons/edit.svg"
            width="20px"
            alt="edit"
          />
          Edit
        </a>
        <a class="btn btn-delete btn-small" (click)="onDeleteRoom()">
          <img
            tabindex="-1"
            class="mr-[2px]"
            src="assets/icons/delete.svg"
            width="20px"
            alt="delete"
          />
          Delete
        </a>
      </div>
    </div>
  </div>
  } @empty {
  <p class="text-lg text-center">There are no items.</p>
  }
</div>
