@import "assets/libs/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --clr-primary: #30daa6;
  --clr-secondary: #4cd1d4;
  --clr-dark: #1d1d1d;
  --clr-light: #3f3f3f;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-gray: #eff5f5;

  --clr-primary-hsl: 158.154 77% 50%;
  --clr-secondary-hsl: 181.705 75% 46%;
  --clr-dark-hsl: 0 0% 11%;
  --clr-light-hsl: 0 0% 25%;
  --clr-black-hsl: 0 0% 0%;
  --clr-white-hsl: 0 0% 100%;
  --clr-gray-hsl: 180 23% 95%;

  --font-primary: "BeVietnamPro", Arial, sans-serif;
}

body {
  @apply bg-white dark:bg-light dark:text-white font-normal font-primary text-base text-light;
}

a {
  @apply duration-200 ease-in-out transition-all;
}

textarea {
  @apply resize-none;
}

app-root {
  @apply flex items-start min-h-screen flex-col;
}

app-home {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
}

.btn {
  @apply cursor-pointer flex items-center justify-center rounded-full;
}

.btn-normal {
  @apply h-12 w-[11.25rem];
}

.btn-small {
  @apply h-12 w-[7rem] sm:w-[8rem];
}

.btn-primary {
  @apply bg-primary-200 font-semibold hover:bg-primary hover:shadow-lg shadow-md shadow-primary/30 text-dark-200;
}

.btn-secondary {
  @apply bg-secondary-200 font-semibold hover:bg-secondary hover:shadow-lg shadow-md shadow-secondary/30 text-dark-200;
}

.btn-outline-primary {
  @apply border-2 border-primary font-semibold hover:bg-primary-200/30 hover:shadow shadow-sm shadow-secondary/30 text-dark-200;
}

.btn-outline-secondary {
  @apply border-2 border-secondary font-semibold hover:bg-secondary-200 hover:shadow-lg shadow-md shadow-secondary/30 text-dark-200;
}

.btn-delete {
  @apply bg-gray font-semibold hover:bg-light/10 hover:shadow-lg shadow-md shadow-gray/30 text-dark-200;
}

.dark {
  @apply bg-light text-white;
}

.container {
  @apply max-w-[67.5rem];
}
