.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

.carousel button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
