<div
  class="card"
  [ngClass]="themeService.theme()"
  role="region"
  [attr.aria-labelledby]="ariaLabelledby"
  [attr.aria-describedby]="ariaDescribedby"
>
  <div *ngIf="header" class="card-header">{{ header }}</div>
  <img
    *ngIf="imageUrl"
    [src]="imageUrl"
    class="card-img-top img-responsive"
    alt="Card image"
    role="img"
  />
  <div class="card-body">
    <h5
      *ngIf="title"
      [ngClass]="titleClass"
      class="card-title"
      [attr.id]="'card-title-' + title"
    >
      {{ title }}
    </h5>
    <p
      *ngIf="body"
      [ngClass]="bodyClass"
      class="card-text"
      [attr.id]="'card-body-' + body"
    >
      {{ body }}
    </p>
    <div *ngIf="description || price" class="card-content">
      <p *ngIf="description" [ngClass]="descriptionClass" class="card-text">
        {{ description }}
      </p>
      <p *ngIf="price" [ngClass]="priceClass" class="price">
        {{ price }} <span class="currency-symbol">€</span>
      </p>
    </div>

    <ng-content select="[card-body]"></ng-content>

    <ds-button
      *ngIf="buttonText && buttonUrl"
      [type]="'button'"
      [btnClass]="'btn-accent'"
      [ariaLabel]="buttonText"
      [href]="buttonUrl"
      [target]="buttonTarget"
      role="button"
    >
      <span content-anchor>{{ buttonText }}</span>
    </ds-button>
  </div>
  <div *ngIf="footer" class="card-footer">{{ footer }}</div>
</div>
