@use "sass:color";
@use "sass:map";
@use "../../styles/abstracts/functions" as *;
@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.sidebar {
  // display: none;
  // width: 250px;
  // height: 100vh;
  @include background("default");
  @include padding-margin("padding", "md");
  @include box-shadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.1));
  overflow-y: auto;

  ul {
    list-style: none;

    li {
      @include padding-margin("margin", "md");

      a {
        text-decoration: none;
        @include color("color", "dark");
        @include typography("base");
        @include transition(color, 0.3s);

        &:hover {
          @include color("color", "primary");
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    display: block;
  }
}
