<nav class="sidebar">
  <ul>
    <li><a routerLink="/design-system/introduction">Introducción</a></li>
    <li><a routerLink="/design-system/customization">Personalización</a></li>
    <li><a routerLink="/design-system/base-styles">Estilos Base</a></li>
    <li><a routerLink="/design-system/layout">Layout</a></li>
    <li><a routerLink="/design-system/themes">Temas</a></li>
    <li><a routerLink="/design-system/utilities">Utilidades</a></li>
    <li><a routerLink="/design-system/alert">Alert</a></li>
    <li><a routerLink="/design-system/breadcrumb">Breadcrumb</a></li>
    <li><a routerLink="/design-system/button">Button</a></li>
    <li><a routerLink="/design-system/card">Card</a></li>
    <li><a routerLink="/design-system/carousel">Carousel</a></li>
    <li><a routerLink="/design-system/data-table">Data Table</a></li>
    <li><a routerLink="/design-system/date-picker">Date Picker</a></li>
    <li><a routerLink="/design-system/dropdown">Dropdown</a></li>
    <li><a routerLink="/design-system/input">Input</a></li>
    <li><a routerLink="/design-system/modal">Modal</a></li>
    <li><a routerLink="/design-system/navbar">Navbar</a></li>
    <li><a routerLink="/design-system/pagination">Pagination</a></li>
    <li><a routerLink="/design-system/search-bar">Search Bar</a></li>
    <li><a routerLink="/design-system/slider">Slider</a></li>
    <li><a routerLink="/design-system/spinner">Spinner</a></li>
    <li><a routerLink="/design-system/theme-switch">Theme switch</a></li>
  </ul>
</nav>
