// base/_global.scss

@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/functions" as fn;

body {
  background-color: fn.get-color("light");
  color: fn.get-color("dark");
  font-family: vars.$font-family; // Agrega la fuente definida en las variables
  margin: 0;
  padding: 0;
  line-height: 1.5; // Configuración base para facilitar la lectura
}
